.medecine {
    margin-bottom: 90px;
}

input[type="text"], input[type="number"], select{
    margin: 5px;
}

button {
    margin: 5px;
}

.btm-outline {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid grey;
}