<header>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark">
      <div class="navbar-brand">Аптека</div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/medicine-list" routerLinkActive="active">Лекарства</a>
        </li>
        <li class="nav-tem">
          <a class="nav-link" routerLink="/medicine/new" routerLinkActive="active">Новое лекарство</a>
        </li>
      </ul>
      
      <div class="signout-btn">
        <button class="btn btn-outline-danger" id="signout-btn" (click)="signOut();" onclick="return false;">Выйти</button>
      </div>
    </nav>
</header>
<div class="row">
    <div class="col"></div>
    <div class="col col-md-4 col-sm-8 col-xs-12">
        <div class="medecine">
            <h1 *ngIf="id==='new'">Новое лекарство</h1>
            <h1 *ngIf="id!='new'">Изменение лекарства</h1>
            <div>
                <div class="form-inline btm-outline">
                    <h5>Название</h5>
                    <input type="text" class="form-control" id="name-input" value="{{name}}" placeholder="Название">
                    <small id="name-help" class="text-danger"></small>   
                </div>
                <div class="form-inline btm-outline">
                    <h5>Производитель</h5>
                    <input type="text" class="form-control" id="producer-input" list="producer-list" value="{{producer}}" placeholder="Производитель">
                    <datalist id="producer-list">
                        <option *ngFor="let element of allProducers" value="{{element}}"></option>
                    </datalist>
                    <small id="producer-help" class="text-danger"></small>   
                </div>
                <div class="form-inline btm-outline">
                    <h5>Категория</h5>
                    <input type="text" class="form-control" id="category-input" list="category-list" value="{{category}}" placeholder="Категория">
                    <datalist id="category-list">
                        <option *ngFor="let element of allCategories" value="{{element}}"></option>
                    </datalist>
                    <small id="category-help" class="text-danger"></small>
                </div>
                <div class="form-inline btm-outline">
                    <h5>Форма</h5>
                    <input type="text" class="form-control" id="form-input" list="form-list" value="{{form}}" placeholder="Форма">
                    <datalist id="form-list">
                        <option *ngFor="let element of allForms" value="{{element}}"></option>
                    </datalist>
                    <small id="form-help" class="text-danger"></small>
                </div>
                <div class="form-inline btm-outline">
                    <h5>Срок годности (в месяцах)</h5>
                    <input type="number" class="form-control" id="shelfTime-input" value="{{shelfTime}}">
                    <small id="shelfTime-help" class="text-danger"></small>
                </div>
                <div class="form-inline btm-outline">
                    <h5>Доступно</h5>
                    <input type="number" class="form-control" id="count-input" value="{{count}}">
                    <small id="count-help" class="text-danger"></small>
                </div>
                <div class="group-alter">
                    <h5>Состав</h5>
                    <small id="composition-help" class="text-danger"></small>
                    <div class="row">
                        <div *ngFor="let comp of currentComponents">
                            <button class="btn btn-outline-danger" *ngIf="comp" (click)="removeComp(comp)" name="component" id="{{comp}}-btn" onclick="return false;">{{comp}} X</button>
                        </div>
                    </div>
                    <h5 *ngIf="availableComponents.length">Добавить в состав</h5>
                    <div class="row form-inline" *ngIf="availableComponents.length">
                        <select class="form-control" id="availableComponents">
                            <option  *ngFor="let comp of availableComponents" value="{{comp}}" id="{{comp}}-opt">{{comp}}</option>
                        </select>
                        <button class="btn btn-sm btn-outline-success" (click)="addComp()" onclick="return false;">+</button>
                    </div>
                </div>
                <button class="btn btn-success float-right" (click)="saveChanges()" onclick="return false;">Сохранить</button>
                <h3 id="status" class=""></h3>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>