.login-form {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.footer {
    height: 43px;
    border-top: 2px solid grey;
}

.med-container {
    margin-top: 80px ;
}

.medicine {
    margin-top: 30px;
    padding: 20px;
}

.paginator {
    margin-bottom: 50px;
}