<div class="row">
  <div class="filter col-md-3 col-sm-12 col-xs-12">
    <div class="row">
        <form class="form-inline">
          <input class="form-control" type="text" placeholder="Поиск">
          <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
    </div>
    <form>
      <!--Producer-->
      <div>
        <div class="row">
          <button data-toggle="collapse" data-target="#producer-check" class="btn arrow" id="producer-arrow" (click)="changeArrow('producer-arrow');" onclick="return false;">></button>
          <h5>Производитель</h5>
        </div>
        <div class="collapse" id="producer-check">
          <div class="form-check check">
            <input class="form-check-input" type="checkbox" name="type-check" value="Bayer"> Bayer
          </div>
        </div>
      </div>
      <!--Type-->
      <div>
        <div class="row">
          <button data-toggle="collapse" data-target="#type-check" class="btn arrow" id="type-arrow" (click)="changeArrow('type-arrow');" onclick="return false;">></button>
          <h5>Тип</h5>
        </div>
        <div class="collapse" id="type-check">
          <div class="form-check check">
            <input class="form-check-input" type="checkbox" name="type-check" value="Анальгетик"> Анальгетик
          </div>
          <div class="form-check check">
            <input class="form-check-input" type="checkbox" name="type-check" value="Жаропонижающее"> Жаропонижающее
          </div>
        </div>
      </div>
      <!--Form-->
      <div>
        <div class="row">
          <button data-toggle="collapse" data-target="#form-check" class="btn arrow" id="form-arrow" (click)="changeArrow('form-arrow');" onclick="return false;">></button>
          <h5>Форма</h5>
        </div>
        <div class="collapse" id="form-check">
          <div class="form-check check">
            <input class="form-check-input" type="checkbox" name="form-check" value="Таблетки"> Таблетки
          </div>
          <div class="form-check check">
            <input class="form-check-input" type="checkbox" name="form-check" value="Жидкое фещество"> Жидкое вещество
          </div>
        </div>
      </div>
      <!--Composition-->
      <div>
        <div class="row">
          <button data-toggle="collapse" data-target="#composition-check" class="btn arrow" id="composition-arrow" (click)="changeArrow('composition-arrow');" onclick="return false;">></button>
          <h5>Состав</h5>
        </div>
        <div class="collapse" id="composition-check">
          <div class="form-check check">
            <input class="form-check-input" type="checkbox" name="composition-check" value="Ацетилсилациловая кислота"> Ацетилсилациловая кислота
          </div>
          <div class="form-check check">
            <input class="form-check-input" type="checkbox" name="composition-check" value="Вода"> Вода
          </div>
        </div>
      </div>
      <!--Shelf Time-->
      <div>
        <div class="row">
          <button data-toggle="collapse" data-target="#shelf-time-check" class="btn arrow" id="shelf-time-arrow" (click)="changeArrow('shelf-time-arrow');" onclick="return false;">></button>
          <h5>Срок годности</h5>
        </div>
        <div class="collapse" id="shelf-time-check">
          <div class="form-check check">
            <input class="form-check-input" type="checkbox" name="shelf-time-check" value="18"> 18 мес.
          </div>
        </div>
      </div>
      <!--Available-->
      <div>
        <div class="row">
          <button data-toggle="collapse" data-target="#available-check" class="btn arrow"  id="available-arrow" (click)="changeArrow('available-arrow');" onclick="return false;">></button>
          <h5>Доступно</h5>
        </div>
        <div class="collapse" id="available-check">
          <div class="form-check check">
            <input class="form-check-input" type="checkbox" name="available-check" value="Да"> Да
          </div>
          <div class="form-check check">
            <input class="form-check-input" type="checkbox" name="available-check" value="Нет"> Нет
          </div>
        </div>
      </div>
      <button class="btn btn-outline-primary float-right">Применить</button>
    </form>
</div>
  <div class="med-container col">
    <table class="med-table table table-striped">
      <thead class="thead-light">
        <th>Название</th>
        <th>Производитель</th>
        <th>Тип</th>
        <th>Форма</th>
        <th>Состав</th>
        <th>Срок годности</th>
        <th>Доступно</th>
      </thead>
      <tbody>
        <tr *ngFor="let medicine of medicines">
          <td>{{medicine.name}}</td>
          <td>{{medicine.producer}}</td>
          <td>
            <div class="type-table" *ngFor="let type of medicine.type" >
              {{type}}
            </div>
          </td>
          <td>{{medicine.form}}</td>
          <td>
            <div class="comp-table" *ngFor="let comp of medicine.composition" >
              {{comp}}
            </div>
          </td>
          <td>{{medicine.shelfTime}}</td>
          <td>{{medicine.available}}</td>
        </tr>
      </tbody>
    </table> 
    <div class="paginator container" id="paginator">
      <button class="btn btn-outline-primary float-left"> ❮ Назад </button>
      <button class="btn btn-outline-primary float-right"> Вперед ❯ </button>
      <div class="page-numbers"> 
        <a class="btn btn-outline-primary" routerLink="/medicine-list/page/1" routerLinkActive="active">1</a>
        <div class="btn dotdot">..</div>
        <a class="btn btn-outline-primary" routerLink="/medicine-list/page/10" routerLinkActive="active">4</a>
        <a class="btn btn-primary" routerLink="/medicine-list/page/5" routerLinkActive="active">5</a>
        <a class="btn btn-outline-primary" routerLink="/medicine/page/10" routerLinkActive="active">6</a>
        <div class="btn dotdot">..</div>
        <a class="btn btn-outline-primary" routerLink="/medicine-list/page/10" routerLinkActive="active">10</a>
      </div>
    </div>
  </div>
</div>