<div class="row">
  <div class="col-md-3 col-sm-12 col-xs-12 filter">
    <div class="row">
      <button class="btn btn-secondary btn-sm">v</button>
      <h5>Производитель</h5>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="Bayer"> Bayer
    </div>

    <div class="row">
      <button class="btn btn-secondary btn-sm">v</button>
      <h5>Тип</h5>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="Анальгетик"> Анальгетик
    </div>

  </div>
  <div class="med-container col">
    <div class="row">
      <div class="medicine col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <b>Производитель: </b> Bayer Consumer Care<br/>
        <b>Тип: </b> Анальгетик, Жаропонижающее <br/>
        <b>Форма: </b> Таблетки <br/>
        <b>Состав: </b> Ацетилсилациловая кислота <br/>
        <b>Доступно: </b> 45
      </div>  
      <div class="paginator container " id="paginator">
        <div class="float-left arrow-left"> Previous </div>
        <div class="float-right arrow-right"> Next </div>
    </div>
  </div>
</div>

