.filter {
    padding-left: 50px;
    padding-top: 15px ;
    padding-bottom: 15px;
    background-color: lightgrey;
}

.medicine {
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 20px;
}

.paginator {
}

.check {
    padding-left: 30px;
}

.btn-sm {
    margin: 8px;
    padding: 2px;
    padding-bottom: 15px;
    padding-left: 4px;
    padding-right: 4px;
    height: 15px;
    font-size: 9px;
}

h5 {
    padding-top: 3px;
}