.med-container {
    margin-top: 30px ;
    /*padding-bottom: 30px;*/
}

.medicine {
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 20px;
}

.paginator {
    margin-bottom: 40px;
    background-color: white;
    padding-bottom: 10px;
}