<table class="med-table table table-striped">
  <thead class="thead-light">
    <th></th>
    <th>Название</th>
    <th>Производитель</th>
    <th>Категория</th>
    <th>Форма</th>
    <th>Состав</th>
    <th>Срок годности</th>
    <th>Доступно</th>
  </thead>
  <tbody>
    <tr *ngFor="let medicine of medicines">
      <td *ngIf="hasAccess(userRole, getPosition('manager'))" >
        <button class="btn btn-sm btn-warning" (click)="redirect('/medicine/' + medicine.id)">Редактировать</button>
      </td>
      <td *ngIf="!hasAccess(userRole, getPosition('manager'))" >
        <button *ngIf="medicine.count > 0" class="btn btn-sm btn-warning" (click)="sellMedicine(medicine.id)">Продать</button>
      </td>
      <td>{{medicine.name}}</td>
      <td>{{medicine.producer}}</td>
      <td>
          {{medicine.category}}
      </td>
      <td>{{medicine.form}}</td>
      <td>
        <div class="comp-table" *ngFor="let comp of medicine.components" >
          {{comp}}
        </div>
      </td>
      <td>{{medicine.shelfTime}}</td>
      <td>{{medicine.count}}</td>
    </tr>
  </tbody>
</table> 
<div class="paginator row" id="paginator">
  <div class="col-2">
    <div class="container">
      <button *ngIf="currentPage > 1" class="btn btn-outline-primary float-left" (click)="loadPage(currentPage - 1)" onclick="return false;"> ❮ Назад </button>
    </div>
  </div>
  <div *ngIf="pagesAmount > 1" class="col-8 page-numbers">
    <button *ngIf="pagesAmount - currentPage < 2 && pagesAmount > 4" class="btn btn-outline-primary page-number" (click)="loadPage(currentPage - 4)" onclick="return false;">{{currentPage - 4}}</button>
    <button *ngIf="pagesAmount - currentPage < 1 && pagesAmount > 3" class="btn btn-outline-primary page-number" (click)="loadPage(currentPage - 3)" onclick="return false;">{{currentPage - 3}}</button>
    <button *ngIf="currentPage > 2"class="btn btn-outline-primary page-number" (click)="loadPage(currentPage - 2)" onclick="return false;">{{currentPage - 2}}</button>
    <button *ngIf="currentPage > 1" class="btn btn-outline-primary page-number" (click)="loadPage(currentPage - 1)" onclick="return false;">{{currentPage - 1}}</button>
    <button class="btn btn-outline-primary page-number" disabled  >{{currentPage}}</button>
    <button *ngIf="pagesAmount - currentPage > 0" class="btn btn-outline-primary page-number" (click)="loadPage(currentPage + 1)" onclick="return false;">{{currentPage + 1}}</button>
    <button *ngIf="pagesAmount - currentPage > 1" class="btn btn-outline-primary page-number" (click)="loadPage(currentPage + 2)" onclick="return false;">{{currentPage + 2}}</button>
    <button *ngIf="currentPage < 3 && pagesAmount - currentPage > 2" class="btn btn-outline-primary page-number" (click)="loadPage(currentPage + 3)" onclick="return false;">{{currentPage + 3}}</button>
    <button *ngIf="currentPage < 2 && pagesAmount - currentPage > 3"class="btn btn-outline-primary page-number" (click)="loadPage(currentPage + 4)" onclick="return false;">{{currentPage + 4}}</button>
  </div>
  <div class="col-2">
    <div class="container">
      <button *ngIf="currentPage < pagesAmount" class="btn btn-outline-primary float-right" (click)="loadPage(currentPage + 1)" onclick="return false;"> Вперед ❯ </button>
    </div>
  </div>
</div>
