<header>
  <nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <div class="navbar-brand">Аптека</div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class="nav-link btn active">Лекарства</button>
      </li>
      <li class="nav-tem">
        <button class="nav-link btn" (click)="redirect('/medicine/new')" onclick="return null;">Новое лекарство</button>
      </li>
    </ul>
    
    <div class="signout-btn">
      <button class="btn btn-outline-danger" id="signout-btn" (click)="signOut();" onclick="return false;">Выйти</button>
    </div>
  </nav>
</header>
<div class="row medicine-list">
  <div class="filter col-md-3 col-sm-12 col-xs-12">
    <div class="row">
        <div class="form-inline">
          <input class="form-control" type="text" id="search" placeholder="Поиск">
          <button class="btn btn-outline-success" type="submit" (click)="this.currentPage = 1; search();" onclick="return false">Поиск</button>
        </div>
    </div>
    <div>
      <div *ngFor="let opt of optionSet">
        <div class="row">
          <button data-toggle="collapse" [attr.data-target]="'#' + opt.key + '-check'" class="btn arrow" id="{{opt.key}}-arrow" (click)="changeArrow(opt.key + '-arrow')" onclick="return false;">></button>
          <h5>{{opt.name}}</h5>
        </div>
        <div class="collapse" id="{{opt.key}}-check">
          <div *ngFor="let o of opt.options" class="form-check check">
            <input class="form-check-input" type="checkbox" name="{{opt.key}}-check" value="{{o}}"> {{o}}
          </div>
        </div>
      </div>
      
      <!--Available
      <div>
        <div class="row">
          <button data-toggle="collapse" data-target="#available-check" class="btn arrow"  id="available-arrow" (click)="changeArrow('available-arrow');" onclick="return false;">></button>
          <h5>Доступно</h5>
        </div>
        <div class="collapse" id="available-check">
          <div class="form-check check">
            <input class="form-check-input" type="checkbox" name="available-check" value="true" checked="true"> Да
          </div>
          <div class="form-check check">
            <input class="form-check-input" type="checkbox" name="available-check" value="false" checked="true"> Нет
          </div>
        </div>
      </div>-->
      <button class="btn btn-outline-success float-right" (click)="this.currentPage = 1; getFilteredMedicines();" onclick="return false;">Применить</button>
    </div>
  </div>
  <div class="med-container col">
    <table class="med-table table table-striped">
      <thead class="thead-light">
        <th></th>
        <th>Название</th>
        <th>Производитель</th>
        <th>Категория</th>
        <th>Форма</th>
        <th>Состав</th>
        <th>Срок годности</th>
        <th>Доступно</th>
      </thead>
      <tbody>
        <tr *ngFor="let medicine of medicines">
          <td>
            <button class="btn btn-sm btn-warning" (click)="redirect('/medicine/' + medicine.id)">Редактировать</button>
          </td>
          <td>{{medicine.name}}</td>
          <td>{{medicine.producer}}</td>
          <td>
              {{medicine.category}}
          </td>
          <td>{{medicine.form}}</td>
          <td>
            <div class="comp-table" *ngFor="let comp of medicine.components" >
              {{comp}}
            </div>
          </td>
          <td>{{medicine.shelfTime}}</td>
          <td>{{medicine.count}}</td>
        </tr>
      </tbody>
    </table> 
    <div class="paginator row" id="paginator">
      <div class="col-2">
        <div class="container">
          <button *ngIf="currentPage > 1" class="btn btn-outline-primary float-left" (click)="loadPage(currentPage - 1)" onclick="return false;"> ❮ Назад </button>
        </div>
      </div>
      <div *ngIf="pagesAmount > 1" class="col-8 page-numbers">
        <button *ngIf="pagesAmount - currentPage < 2 && pagesAmount > 4" class="btn btn-outline-primary page-number" (click)="loadPage(currentPage - 4)" onclick="return false;">{{currentPage - 4}}</button>
        <button *ngIf="pagesAmount - currentPage < 1 && pagesAmount > 3" class="btn btn-outline-primary page-number" (click)="loadPage(currentPage - 3)" onclick="return false;">{{currentPage - 3}}</button>
        <button *ngIf="currentPage > 2"class="btn btn-outline-primary page-number" (click)="loadPage(currentPage - 2)" onclick="return false;">{{currentPage - 2}}</button>
        <button *ngIf="currentPage > 1" class="btn btn-outline-primary page-number" (click)="loadPage(currentPage - 1)" onclick="return false;">{{currentPage - 1}}</button>
        <button class="btn btn-outline-primary page-number" disabled  >{{currentPage}}</button>
        <button *ngIf="pagesAmount - currentPage > 0" class="btn btn-outline-primary page-number" (click)="loadPage(currentPage + 1)" onclick="return false;">{{currentPage + 1}}</button>
        <button *ngIf="pagesAmount - currentPage > 1" class="btn btn-outline-primary page-number" (click)="loadPage(currentPage + 2)" onclick="return false;">{{currentPage + 2}}</button>
        <button *ngIf="currentPage < 3 && pagesAmount - currentPage > 2" class="btn btn-outline-primary page-number" (click)="loadPage(currentPage + 3)" onclick="return false;">{{currentPage + 3}}</button>
        <button *ngIf="currentPage < 2 && pagesAmount - currentPage > 3"class="btn btn-outline-primary page-number" (click)="loadPage(currentPage + 4)" onclick="return false;">{{currentPage + 4}}</button>
      </div>
      <div class="col-2">
        <div class="container">
          <button *ngIf="currentPage < pagesAmount" class="btn btn-outline-primary float-right" (click)="loadPage(currentPage + 1)" onclick="return false;"> Вперед ❯ </button>
        </div>
      </div>
      
  </div>
</div>
