<div class="row medicine-list">
  <div class="filter col-md-3 col-sm-12 col-xs-12">
    <div class="row">
        <div class="form-inline">
          <input class="form-control" type="text" id="search" placeholder="Поиск">
          <button class="btn btn-outline-success" type="submit" (click)="search()" onclick="return false">Поиск</button>
        </div>
    </div>
    <div>
      <!--Producer-->
      <div>
        <div class="row">
          <button data-toggle="collapse" data-target="#producer-check" class="btn arrow" id="producer-arrow" (click)="changeArrow('producer-arrow');" onclick="return false;">></button>
          <h5>Производитель</h5>
        </div>
        <div class="collapse" id="producer-check">
          <div *ngFor="let producer of allProducers" class="form-check check">
            <input class="form-check-input" type="checkbox" name="producer-check" value="{{producer}}" checked="true"> {{producer}}
          </div>
        </div>
      </div>
      <!--Category-->
      <div>
        <div class="row">
          <button data-toggle="collapse" data-target="#category-check" class="btn arrow" id="category-arrow" (click)="changeArrow('category-arrow');" onclick="return false;">></button>
          <h5>Категория</h5>
        </div>
        <div class="collapse" id="category-check">
          <div *ngFor="let category of allCategories" class="form-check check">
            <input class="form-check-input" type="checkbox" name="category-check" value="{{category}}" checked="true"> {{category}}
          </div>
        </div>
      </div>
      <!--Form-->
      <div>
        <div class="row">
          <button data-toggle="collapse" data-target="#form-check" class="btn arrow" id="form-arrow" (click)="changeArrow('form-arrow');" onclick="return false;">></button>
          <h5>Форма</h5>
        </div>
        <div *ngFor="let form of allForms" class="collapse" id="form-check">
          <div class="form-check check">
            <input class="form-check-input" type="checkbox" name="form-check" value="{{form}}" checked="true"> {{form}}
          </div>
        </div>
      </div>
      <!--Component-->
      <div>
        <div class="row">
          <button data-toggle="collapse" data-target="#component-check" class="btn arrow" id="component-arrow" (click)="changeArrow('component-arrow');" onclick="return false;">></button>
          <h5>Состав</h5>
        </div>
        <div class="collapse" id="component-check">
          <div *ngFor="let component of allComponents" class="form-check check">
            <input class="form-check-input" type="checkbox" name="component-check" value="{{component}}" checked="true"> {{component}}
          </div>
        </div>
      </div>
      <!--Shelf Time-->
      <div>
        <div class="row">
          <button data-toggle="collapse" data-target="#shelf-time-check" class="btn arrow" id="shelf-time-arrow" (click)="changeArrow('shelf-time-arrow');" onclick="return false;">></button>
          <h5>Срок годности</h5>
        </div>
        <div class="collapse" id="shelf-time-check">
          <div *ngFor="let shelfTime of allShelfTimes" class="form-check check">
            <input class="form-check-input" type="checkbox" name="shelf-time-check" value="{{shelfTime}}" checked="true"> {{shelfTime}} мес.
          </div>
        </div>
      </div>
      <!--Available-->
      <div>
        <div class="row">
          <button data-toggle="collapse" data-target="#available-check" class="btn arrow"  id="available-arrow" (click)="changeArrow('available-arrow');" onclick="return false;">></button>
          <h5>Доступно</h5>
        </div>
        <div class="collapse" id="available-check">
          <div class="form-check check">
            <input class="form-check-input" type="checkbox" name="available-check" value="true" checked="true"> Да
          </div>
          <div class="form-check check">
            <input class="form-check-input" type="checkbox" name="available-check" value="false" checked="true"> Нет
          </div>
        </div>
      </div>
      <button class="btn btn-outline-primary float-right" (click)="getFilteredMedicines();" onclick="return false;">Применить</button>
    </div>
  </div>
  <div class="med-container col">
    <table class="med-table table table-striped">
      <thead class="thead-light">
        <th></th>
        <th>Название</th>
        <th>Производитель</th>
        <th>Категория</th>
        <th>Форма</th>
        <th>Состав</th>
        <th>Срок годности</th>
        <th>Доступно</th>
      </thead>
      <tbody>
        <tr *ngFor="let medicine of medicines">
          <td>
            <a class="btn btn-sm btn-warning" routerLink="/medicine/{{medicine.id}}" routerLinkActive="active">Редактировать</a>
          </td>
          <td>{{medicine.name}}</td>
          <td>{{medicine.producer}}</td>
          <td>
              {{medicine.category}}
          </td>
          <td>{{medicine.form}}</td>
          <td>
            <div class="comp-table" *ngFor="let comp of medicine.component" >
              {{comp}}
            </div>
          </td>
          <td>{{medicine.shelfTime}}</td>
          <td>{{medicine.count}}</td>
        </tr>
      </tbody>
    </table> 
    <div class="paginator container" id="paginator">
      <button class="btn btn-outline-primary float-left"> ❮ Назад </button>
      <button class="btn btn-outline-primary float-right"> Вперед ❯ </button>
      <div class="page-numbers"> 
        <a class="btn btn-outline-primary" routerLink="/medicine-list/page/1" routerLinkActive="active">1</a>
        <div class="btn dotdot">..</div>
        <a class="btn btn-outline-primary" routerLink="/medicine-list/page/10" routerLinkActive="active">4</a>
        <a class="btn btn-primary" routerLink="/medicine-list/page/5" routerLinkActive="active">5</a>
        <a class="btn btn-outline-primary" routerLink="/medicine/page/10" routerLinkActive="active">6</a>
        <div class="btn dotdot">..</div>
        <a class="btn btn-outline-primary" routerLink="/medicine-list/page/10" routerLinkActive="active">10</a>
      </div>
    </div>
  </div>
</div>
