<header>
    <nav class="navbar navbar-dark  bg-dark">
      <div class="container">
        <div class="navbar-brand">Аптека</div>
          <a class="nav-item mr-auto" routerLink="/medicine" routerLinkActive="active">Лекарства</a>
        <form class="signout-btn">
          <button class="btn btn-outline-danger" id="signout-btn">Выйти</button>
        </form>
      </div>  
    </nav>
</header>
<router-outlet></router-outlet>
<footer class="footer" id="footer">
  <div class="container"><p>Аптека © 2020</p></div>
    
</footer>
