.footer {
    text-align: center;
    height: 43px;
    border-top: 2px solid grey;
    background-color: #ededed;
}

body {
    overflow-x: hidden;
}
input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }